<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/headTag :: headTag"><title>Canes</title>
    </head>
    <body>

        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>

        <div class="container" >            
            <!-- Header -->
            <form  th:object="${Business}" action="addSubmit (Not used)" th:action="@{/business/addSubmit}" method="get">
<!--                <div class="container" >-->
                    <!--<div class="intro-text form-horizontal" >-->
                        <h3>Add Business / Company</h3>
                    <!--</div>-->
                    <!--<div>-->
                        <input type="hidden" th:field="${Business.id}" />
                        <label>Username: </label>
                        <input type="text" name="username" th:field="${Business.username}" maxlength="100"/>
                        <ul th:if="${#fields.hasErrors('username')}">
                            <li class="error" th:each="err : ${#fields.errors('username')}" th:text="${err}" >Input is incorrect</li>
                        </ul>
                        <ul th:if="${message}">
                            <li class="error" th:text="${message}">Input is incorrect</li>
                        </ul>
                        <br/>
                        <label>Name: </label>
                        <input type="text" name="username" th:field="${Business.name}" maxlength="100"/>
                        <ul th:if="${#fields.hasErrors('name')}">
                            <li class="error" th:each="err : ${#fields.errors('name')}" th:text="${err}">Input is incorrect</li>
                        </ul>                        
                        <br/>
                        <label>Phone Number: </label>
                        <input type="text" name="phoneNumber" th:field="${Business.phoneNumber}" maxlength="20"/>
                        <ul th:if="${#fields.hasErrors('phoneNumber')}">
                            <li class="error" th:each="err : ${#fields.errors('phoneNumber')}" th:text="${err}">Input is incorrect</li>
                        </ul>
                        <br/>
                        <label>Website: </label>
                        <input type="text" name="website" th:field="${Business.website}" maxlength="20"/>
                        <ul th:if="${#fields.hasErrors('website')}">
                            <li class="error" th:each="err : ${#fields.errors('website')}" th:text="${err}">Input is incorrect</li>
                        </ul>
                        <br/>
                        <label>Letter Sent Date: </label>
                        <input type="text" name="confirmLetterSentDate" th:field="${Business.confirmLetterSentDate}" maxlength="20"/>
                        <ul th:if="${#fields.hasErrors('confirmLetterSentDate')}">
                            <li class="error" th:each="err : ${#fields.errors('confirmLetterSentDate')}" th:text="${err}">Input is incorrect</li>
                        </ul>
                        <br/>
                        <label>Liability Identification Sent Date: </label>
                        <input type="text" name="liabilityIdemnificationSentDate" th:field="${Business.liabilityIdemnificationSentDate}" maxlength="20"/>
                        <ul th:if="${#fields.hasErrors('liabilityIdemnificationSentDate')}">
                            <li class="error" th:each="err : ${#fields.errors('liabilityIdemnificationSentDate')}" th:text="${err}">Input is incorrect</li>
                        </ul>
                        <br/>
                        <label>Positions: </label>
                        <input type="text" name="numberOfPositions" th:field="${Business.numberOfPositions}" maxlength="20"/>
                        <ul th:if="${messagePositions}">
                            <li class="error" th:text="${messagePositions}">Input is incorrect</li>
                        </ul>
                        <br/>
                        <input type="submit" value="Submit"/>
                        
                       
                    <!--</div>-->
                <!--</div>-->
            </form>
            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>
    </body>
</html>