<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/headTag :: headTag"><title>OJT - Business List - "AZZURE"</title>
    </head>
    <body>

        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>

        <div class="container" >            
            <!-- Header -->
                     
                <h2>Unready Business List</h2>
                

                <table  class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width: 50px;">ID</th>
                            <th style="width: 150px;">UserName</th>
                            <th style="width: 150px;">Name</th>
                            <th style="width: 150px;">Phone Number</th>
                            <th style="width: 150px;">Website</th>
                            <th style="width: 70px;">Confirm Letter Sent Date</th>
                            <th style="width: 50px;">Liability Identification Sent Date</th>
                            <th style="width: 50px;">Number of Positions</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        
                        <tr th:each="business : ${Business}">

                            <td th:text="${business.id}"></td>
                            <td th:text="${business.username }"></td>
                            <td th:text="${business.name }"></td>
                            <td th:text="${business.phoneNumber }"></td>
                            <td th:text="${business.website}"></td>
                            <td th:text="${business.confirmLetterSentDate }"></td>
                            <td th:text="${business.liabilityIdemnificationSentDate }"></td>
                            <td th:text="${business.numberOfPositions}"></td>                          

                           
                        </tr>
                    </tbody>
                </table>    

            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>
    </body>
</html>