<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head><title></title></head>
    <body th:fragment="bodyHeader">
        <div class="containter navbar">
            <div class="container cisis">
                <a th:href="@{/}"><img style="vertical-align: bottum; float:left " th:src="@{/resources/images/logoHeader.png}" 
                                       src="../../../resources/images/logoHeader.png" /></a><h1><span th:text="#{organization.name}">Organization Name</span><small th:text="#{application.name}" >Application Name</small></h1>
            </div>

            <div class="navbar-inner"  th:if="${session.loggedInUser != null}">
                <ul class="nav">
                    <li th:if="${session.loggedInUser.userTypeCode != 0}" class="dropdown" id="menuResources">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#menuResources">
                            <span class="glyphicon glyphicon-th-list">Business</span>&nbsp;
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li th:if="${session.loggedInUser.userTypeCode != 0}" ><a href="/other/business/businessList" th:href="@{/business/list}"><i class="icon-th-list"></i>Show businesses</a></li>                            
                            <li th:if="${session.loggedInUser.userTypeCode == 1}" ><a href="/other/business/businessList" th:href="@{/business/add}"><i class="icon-th-list"></i>Add business</a></li> 

                        </ul>
                    </li>
                </ul>

                <ul class="nav">
                    <li th:if="${session.loggedInUser.userTypeCode != 0}" class="dropdown" id="menuResourcesStudent">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#menuResourcesStudent">
                            <span class="glyphicon glyphicon-th-list">Student</span>&nbsp;
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li th:if="${session.loggedInUser.userTypeCode != 0}" ><a href="#" th:href="@{/ojtOperations/studentList}"><i class="icon-th-list"></i>Show students</a></li>                            
                            <li th:if="${session.loggedInUser.userTypeCode == 1}" ><a href="#" th:href="@{/ojtOperations/studentAdd}"><i class="icon-th-list"></i>Add student</a></li>  
                            <!--<li th:if="${session.loggedInUser.userTypeCode == 2}" ><a href="#" th:href="@{/ojtOperations/updateByUsername(id=${session.loggedInUser.userId})}"><i class="icon-th-list"></i>Update My Profile</a></li>--> 
                            
                        </ul>
                    </li>
                </ul>

                <ul class="nav">
                    <li th:if="${session.loggedInUser.userTypeCode == 1 || session.loggedInUser.userTypeCode == 2}" class="dropdown" id="menuResourcesPlacement">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#menuResourcesPlacement">
                            <span class="glyphicon glyphicon-th-list">Placement</span>&nbsp;
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li th:if="${session.loggedInUser.userTypeCode != 0}" ><a href="#" th:href="@{/ojtOperations/placementList}"><i class="icon-th-list"></i>Show placements</a></li>                            
                            <li th:if="${session.loggedInUser.userTypeCode == 1}" ><a href="#" th:href="@{/ojtOperations/placementAdd}"><i class="icon-th-list"></i>Add placement</a></li>                            
                       <!-- working <li th:if="${session.loggedInUser.userTypeCode == 1}" ><a href="#" th:href="@{/ojtOperations/placementAdd}"><i class="icon-th-list"></i>Add placement</a></li>-->                            
<!--                        <li th:if="${session.loggedInUser.userTypeCode == 1 || session.loggedInUser.userTypeCode == 2}" ><a href="/help" th:href="@{/help}"><i class="icon-th-list"></i>Show placements</a></li>                            
                            <li th:if="${session.loggedInUser.userTypeCode == 1}" ><a href="/help" th:href="@{/help}"><i class="icon-th-list"></i>Add placement</a></li>                            -->
                        </ul>
                    </li>
                </ul>


                <ul class="nav">
                    <li th:if="${session.loggedInUser.userTypeCode == 1}" class="dropdown" id="menuResourcesReports">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#menuResourcesReports">
                            <span class="glyphicon glyphicon-th-list">Utility</span>&nbsp;
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/student" th:href="@{/student}"><i class="icon-th-list"></i>Import students-1.3</a></li>                            
                            <li><a href="#" th:href="@{/business/import}"><i class="icon-th-list"></i>Import business-2.3</a></li>                            
                            <li><a href="#" th:href="@{/placement/export}"><i class="icon-th-list"></i>Export Placements-3.3</a></li>                            
                        </ul>
                    </li>
                </ul>

                <ul class="nav">
                    <li th:if="${session.loggedInUser.userTypeCode == 1}" class="dropdown" id="menuResourcesUtil">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#menuResourcesUtil">
                            <span class="glyphicon glyphicon-th-list">Reports</span>&nbsp;
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/help" th:href="@{/ojtOperations/studentsReadyList}"><i class="icon-th-list"></i>Students Ready</a></li>                            
                            <li><a href="/help" th:href="@{/ojtOperations/studentsNotPlacedList}"><i class="icon-th-list"></i>Unplaced Students</a></li>                            
                            <!--<li><a href="/help" th:href="@{/help}"><i class="icon-th-list"></i>Unplaced Students</a></li>-->                            
                            <li><a href="/help" th:href="@{/ojtOperations/unplacedBusinessList}"><i class="icon-th-list"></i>Unplaced Businesses</a></li>                            
                            <!--<li><a href="/help" th:href="@{/help}"><i class="icon-th-list"></i>Unplaced Businesses</a></li>-->     
                            <li><a href="/help" th:href="@{/business/unreadBusiness}"><i class="icon-th-list"></i>Businesses Not Ready</a></li>     
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/help" th:href="@{/help}"><i class="icon-question-sign"></i>&nbsp;<span th:text="#{label.help}">Help</span></a></li>
                    <li class="divider"></li>
                    <li><a href="/about" th:href="@{/about}"><i class="glyphicon glyphicon-info-sign"></i>&nbsp;<span th:text="#{label.about}">About</span></a></li>
                    <li class="divider"></li>
                    <li th:if="${session.loggedInUser.userTypeCode != 0}"><a href="/logout" th:href="@{/logout}"><i class="glyphicon glyphicon-log-out"></i>&nbsp;<span th:text="#{label.logout}">Logout</span></a></li>
                </ul>

            </div>
        </div>

        <!-- note that the th:if below will stop the empty tags from appearing in the html if no message provided. -->
        <p th:if="${not #strings.isEmpty(errorMessage)}" class="error" th:text="${errorMessage}"></p>
        <p th:if="${not #strings.isEmpty(notificationMessage)}"  class="notification" th:text="${notificationMessage}"></p>

    </body>

</html>