<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/headTag :: headTag"><title>Title Here</title>
    </head>
    <body>

        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>

        <div class="container" >            
            <!-- Header -->
            <form  th:object="${person}" action="sayHello (Not used)" th:action="@{/sayhello}" method="get">
                <!--<div class="container" >-->
                    <h2 th:text="#{application.name}">Application Name</h2>                    
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th style="width: 50px;">Component Completed</th>
                                <th style="width: 50px;">Resource Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Student Functionality</td>
                                <td>Matt Bryan</td>
                            </tr>
                            <tr>
                                <td>Business Functionality</td>
                                <td>Rodrigo Pires</td>
                            </tr>
                            <tr>
                                <td>Placement Functionality</td>
                                <td>Arvind Chauhan</td>
                            </tr>
                        </tbody>
                    </table>
                <!--</div>-->
            </form>
            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>
    </body>
</html>