<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/headTag :: headTag"><title>Placements</title>
    </head>
    <body>

        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>

        <div class="container" >            
            <!-- Header -->
            <form  th:object="${placement}" action="addSubmit (Not used)" th:action="@{/ojtOperations/placementAddSubmit}" method="get">
                <div class="container" >
                    <div class="intro-text form-horizontal" >
                        Add Placement
                    </div>
                    <div>

                        <input type="hidden" th:field="${placement.id}" />
                        <label>Id</label>
                        <!--<input type="number" name="id" th:field="${placement.id}" disabled="disabled" hidden="true"/>-->
                        <input type="text" name="id" th:field="${placement.id}" disabled="disabled"/>
                        <ul th:if="${#fields.hasErrors('id')}">
                            <li class="error" th:each="err : ${#fields.errors('id')}" th:text="${err}">Input is incorrect</li>
                        </ul>
                        <br/>

                        <label>Student ID</label>
                        <!--<input type="number" name="studentId" th:field="${placement.studentId}"/>-->
                        <ul th:if="${#fields.hasErrors('studentId')}">
                            <li class="error" th:each="err : ${#fields.errors('studentId')}" th:text="${err}">Input is incorrect</li>
                        </ul>
                         <select name="studentId">
                                    <option th:each="theStudent : ${students}" th:value="${theStudent.id}" th:text="${theStudent.firstName +' '+ theStudent.lastName }">types here</option>
                         </select>                        
                        <br/>

                        <label>Business ID</label>
                        <!--<input type="number" name="businessId" th:field="${placement.businessId}"/>-->
                        <ul th:if="${#fields.hasErrors('businessId')}">
                            <li class="error" th:each="err : ${#fields.errors('businessId')}" th:text="${err}">Input is incorrect</li>
                        </ul>
                        
                         <select name="businessId">
                                    <option th:each="theBusiness : ${businesses}" th:value="${theBusiness.id}" th:text="${theBusiness.name}">types here</option>
                         </select>
                        <br/>
                        
                         <label>Placement Date</label>
                        <input type="text" name="placementDate" th:field="${placement.placementDate}"/>
                        <ul th:if="${#fields.hasErrors('placementDate')}">
                            <li class="error" th:each="err : ${#fields.errors('placementDate')}" >Input is incorrect</li>
                        </ul>
                        <br/>
                        
                          <label>NOtes</label>
                        <input type="text" name="notes" th:field="${placement.notes}"/>
                        <ul th:if="${#fields.hasErrors('notes')}">
                            <li class="error" th:each="err : ${#fields.errors('notes')}" >Input is incorrect</li>
                        </ul>
                        <br/>
                           
                        <input type="submit" value="Submit"/>

                    </div>
                </div>
            </form>
            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>
    </body>
</html>