<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/headTag :: headTag"><title>Placements</title>
    </head>
    <body>

        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>

        <div class="container"  >            
            <!-- Header -->



            <h2><span th:text="#{placement.header}">Current Placements</span></h2>
            <p th:text="${message}"></p>
            <a class="btn btn-primary btn-lg" th:href="@{/ojtOperations/placementAdd}" th:text="Add" ></a>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width: 150px;">Placement ID</th>
                        <th style="width: 150px;">Student ID</th>
                        <th style="width: 150px;">Business ID</th>
                        <th style="width: 150px;">Placement Date</th>
                        <th style="width: 150px;">Notes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="placement : ${placements}">

                        <td th:text="${placement.id}"></td>
                        <td th:text="${placement.studentId }"></td>
                        <td th:text="${placement.businessId }"></td>
                        <td th:text="${placement.placementDate}"></td>
                        <td th:text="${placement.notes}"></td>

                        <td>
<!--                            <a th:if="${session.loggedInUser.username == student.username || session.loggedInUser.userTypeCode != 2}" class="btn btn-primary btn-lg"  th:href="@{/ojtOperations/update(id=${placement.id})}">Update</a>&nbsp;
                            <a th:if="${session.loggedInUser.username == student.username || session.loggedInUser.userTypeCode != 2}" class="btn btn-primary btn-lg"  th:href="@{/ojtOperations/delete(id=${placement.id})}">Delete</a>&nbsp;-->
                            <a class="btn btn-primary btn-lg"  th:href="@{/ojtOperations/placementUpdate(id=${placement.id})}">Update</a>&nbsp;
                            <a class="btn btn-primary btn-lg"  th:href="@{/ojtOperations/placementDelete(id=${placement.id})}">Delete</a>&nbsp;    
                        </td>
                    </tr>
                </tbody>
            </table>    

            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>
    </body>
</html>