<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/headTag :: headTag"><title>Students</title>
    </head>
    <body>

        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>

        <div class="container" id="tableDiv" >            
            <!-- Header -->



            <h2>Current Students</h2>
            <p th:text="${message}"></p>
            <a class="btn btn-primary btn-lg" th:href="@{/ojtOperations/studentAdd}" th:text="Add" ></a>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width: 150px;">ID</th>
                        <th style="width: 150px;">Username</th>
                        <th style="width: 150px;">Phone</th>
                        <th style="width: 150px;">StudentId</th>
                        <th style="width: 150px;">Last Name</th>
                        <th style="width: 150px;">First Name</th>
                        <th style="width: 150px;">Resume</th>
                        <th style="width: 150px;">Preferred Work Type</th>
                        <th style="width: 150px;">Cover Letter Submission Date</th>
                        <th style="width: 150px;">Resume Submission Date</th>
                        <th style="width: 150px;">Operations</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="student : ${students}">

                        <td th:text="${student.id}"></td>
                        <td th:text="${student.username }"></td>
                        <td th:text="${student.phone}"></td>
                        <td th:text="${student.studentId }"></td>
                        <td th:text="${student.lastName}"></td>
                        <td th:text="${student.firstName}"></td>
                        <td th:text="${student.resumeLocation}"></td>
                        <td th:text="${student.preferredTypeOfWork}"></td>
                        <td th:text="${student.coverLetterSubmittedDate}"></td>
                        <td th:text="${student.resumeSubmittedDate}"></td>

                        <td>
                            <a th:if="${session.loggedInUser.username == student.username || session.loggedInUser.userTypeCode == 1}" class="btn btn-primary btn-sm"  th:href="@{/ojtOperations/update(id=${student.id})}">Update</a>&nbsp;
                            <a th:if="${session.loggedInUser.userTypeCode == 1}" class="btn btn-primary btn-sm"  th:href="@{/ojtOperations/delete(id=${student.id})}">Delete</a>&nbsp;
                        </td>
                    </tr>
                </tbody>
            </table>    

            <div th:include="fragments/footer" th:remove="tag"> 
            </div>
        </div>
    </body>
</html>