<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/headTag :: headTag"><title>Students</title>
    </head>
    <body>

        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>

        <div class="container" >            
            <!-- Header -->
            <form  th:object="${student}" action="addSubmit (Not used)" th:action="@{/ojtOperations/addSubmit}" method="get">
                <div class="container" >
                    <div class="intro-text form-horizontal" >
                        Add Student
                    </div>
                    <div>

                        <input type="hidden" th:field="${student.id}" />
                        <label>Id</label>
                        <input type="text" name="id" th:field="${student.id}" disabled="disabled"/>
                        <ul th:if="${#fields.hasErrors('id')}">
                            <li class="error" th:each="err : ${#fields.errors('id')}" th:text="${err}">Input is incorrect</li>
                        </ul>
                        <br/>

                        <label>Username</label>
                        <input type="text" name="username" th:field="${student.username}"/>
                        <ul th:if="${#fields.hasErrors('username')}">
                            <li class="error" th:each="err : ${#fields.errors('username')}" th:text="${err}">Input is incorrect</li>
                        </ul>
                        <br/>


                        <label>Phone Number</label>
                        <input type="number" name="phone" th:field="${student.phone}"/>
                        <ul th:if="${#fields.hasErrors('phone')}">
                            <li class="error" th:each="err : ${#fields.errors('phone')}" th:text="${err}">Input is incorrect</li>
                        </ul>
                        <br/>

                        <label>Student ID</label>
                        <input type="number" name="studentId" th:field="${student.studentId}"/>
                        <ul th:if="${#fields.hasErrors('studentId')}">
                            <li class="error" th:each="err : ${#fields.errors('studentId')}" th:text="${err}">Input is incorrect</li>
                        </ul>
                        <br/>

                        <label>Last Name</label>
                        <input type="text" name="lastName" th:field="${student.lastName}"/>
                        <ul th:if="${#fields.hasErrors('lastName')}">
                            <li class="error" th:each="err : ${#fields.errors('lastName')}" >Input is incorrect</li>
                        </ul>
                        <br/>
                        
                         <label>First Name</label>
                        <input type="text" name="firstName" th:field="${student.firstName}"/>
                        <ul th:if="${#fields.hasErrors('firstName')}">
                            <li class="error" th:each="err : ${#fields.errors('firstName')}" >Input is incorrect</li>
                        </ul>
                        <br/>
                        
                          <label>Resume Location</label>
                        <input type="text" name="resumeLocation" th:field="${student.resumeLocation}"/>
                        <ul th:if="${#fields.hasErrors('resumeLocation')}">
                            <li class="error" th:each="err : ${#fields.errors('resumeLocation')}" >Input is incorrect</li>
                        </ul>
                        <br/>
                        
                            <label>Preferred Type of Work</label>
                        <input type="text" name="preferredTypeOfWork" th:field="${student.preferredTypeOfWork}"/>
                        <ul th:if="${#fields.hasErrors('preferredTypeOfWork')}">
                            <li class="error" th:each="err : ${#fields.errors('preferredTypeOfWork')}" >Input is incorrect</li>
                        </ul>
                        <br/>
                           
                        <input type="submit" value="Submit"/>

                    </div>
                </div>
            </form>
            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>
    </body>
</html>